<a href="https://colab.research.google.com/github/fgsantosti/AlgoritmoseProgramacao/blob/master/Lista_Discionario_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Lista

In [ ]:
lista_vazia = []
segunda_lista_vazia = list()
print(lista_vazia)
print(segunda_lista_vazia)

[]
[]

In [ ]:
meses = ['janeiro', 'fevereiro','março','abril','maio','junho']
print(meses)

['janeiro', 'fevereiro', 'março', 'abril', 'maio', 'junho']

In [ ]:
meses = ['janeiro', 'fevereiro','março','abril','maio','junho']
print(meses[1]) #fevereiro
print(meses[5])

In [ ]:
len(meses)

6

In [ ]:
meses[5] = 'dezembro'
print(meses)

['janeiro', 'fevereiro', 'março', 'abril', 'maio', 'dezembro']

In [ ]:
meses = 'novembro' #sobrescreve toda a lista
print(meses)

novembro

In [ ]:
meses = ['janeiro', 'fevereiro','março','abril','maio','junho']
meses.append('julho')
print(meses)

['janeiro', 'fevereiro', 'março', 'abril', 'maio', 'junho', 'julho']

In [ ]:
meses = ['janeiro', 'fevereiro','março','abril','maio','junho']
meses.append(['julho','agosto']) #insere uma sublista
print(meses)

['janeiro', 'fevereiro', 'março', 'abril', 'maio', 'junho', ['julho', 'agosto']]

In [ ]:
meses.insert(2,'julho')
print(meses)

In [ ]:
meses = ['janeiro', 'fevereiro','março','abril','maio','junho']
meses2 = ['julho', 'agosto']
meses.extend(meses2) #inserindo mais de um item a lista
print(meses)

['janeiro', 'fevereiro', 'março', 'abril', 'maio', 'junho', 'julho', 'agosto']

'\nmeses += meses2 # outra forma de inserir mais de um item a lista\nprint(meses)\n'

In [ ]:
meses += meses2 # outra forma de inserir mais de um item a lista
print(meses)

['janeiro', 'fevereiro', 'março', 'abril', 'maio', 'junho', 'julho', 'agosto', 'julho', 'agosto']

In [ ]:
meses = ['janeiro', 'fevereiro','março','abril','maio','junho']
meses.pop() #exclui o ultime elemento
meses.pop(3) #exclui o elemento de index 3
print(meses)

['janeiro', 'fevereiro', 'março', 'maio']

In [ ]:
meses = ['janeiro', 'fevereiro','março','abril','maio','junho']
meses.remove('janeiro') #remove por meio de uma busca de elemento
print(meses)

In [ ]:
meses = ['janeiro', 'fevereiro','março','abril','maio','junho']
del meses[3] #remove por meio do index
print(meses)

In [ ]:
meses = ['janeiro', 'fevereiro','março','abril','maio','junho']
'abril' in meses
'agosto' in meses

False

In [ ]:
meses = ['janeiro', 'fevereiro','março','abril','maio','junho']

nome = 'abril'
if (nome in meses):
  meses.remove(nome)
meses

['janeiro', 'fevereiro', 'março', 'maio', 'junho']

In [ ]:
meses = ['janeiro', 'fevereiro','março','abril','maio','junho']
meses.count('janeiro')

1

In [ ]:
meses = ['janeiro', 'fevereiro','março','abril','maio','junho']
separador = ';'
meses_juntos = separador.join(meses)
print(meses_juntos)
meses_separados = meses_juntos.split(separador)
print(meses_separados)

janeiro;fevereiro;março;abril;maio;junho
['janeiro', 'fevereiro', 'março', 'abril', 'maio', 'junho']

In [ ]:
meses = ['janeiro', 'fevereiro','março','abril','maio','junho']
sorted_meses = sorted(meses) #uma copia da lista ordenada 
print(sorted_meses)
meses

['abril', 'fevereiro', 'janeiro', 'junho', 'maio', 'março']

['janeiro', 'fevereiro', 'março', 'abril', 'maio', 'junho']

In [ ]:
meses = ['janeiro', 'fevereiro','março','abril','maio','junho']
meses.sort()
print(meses)

['abril', 'fevereiro', 'janeiro', 'junho', 'maio', 'março']

In [ ]:
meses = ['janeiro', 'fevereiro','março','abril','maio','junho']
meses.sort(reverse=True)
print(meses)

['março', 'maio', 'junho', 'janeiro', 'fevereiro', 'abril']

In [ ]:
lt_numero = [40, 3, 4, 60, 7, 19] # 3 4 7 19 40 60

for i in range(len(lt_numero)):
  for j in range(len(lt_numero)-1):
    if lt_numero[j] < lt_numero[j+1]:
      aux =  lt_numero[j]
      lt_numero[j] = lt_numero[j+1]
      lt_numero[j+1] = aux

print(lt_numero)

[60, 40, 19, 7, 4, 3]

In [ ]:
meses = ['janeiro', 'fevereiro','março','abril','maio','junho','julho']
print(meses[2:4])

['março', 'abril']

In [ ]:
numeros = [21 ,22 ,23 ,24 ,25 ,26 ,27 ,28 ,29 ,30 ,31 ,32]
print(numeros[1:9:2])

[22, 24, 26, 28]

In [ ]:
meses = ['janeiro', 'fevereiro','março','abril','maio','junho','julho']
print(meses[2:4]) #começa em 2 e para 4-1
print(meses[2:])  #começa em 2 e imprime o restante da lista
print(meses[:4])  #imprime todos os valores anteriores a 4-1
print(meses[:])   #uma cópia da lista
print(meses[::-1])#uma cópia invertida da lista
print(meses[-1])  #último elemento da lista
print(meses[-2:]) #dois últimos elementos da lista
print(meses[:-2]) #imprime tudo, exceto os dois últimos valores da lista
print(meses[::2]) #imprimindo com step=2

In [ ]:
numeros = [1,2,3,4]
for numero in numeros:
  print(numero**2)

In [ ]:
numeros = [1,2,3,4]
[numero**2 for numero in numeros]

[1, 4, 9, 16]

In [ ]:
meses = ['janeiro', 'fevereiro','março','abril','maio','junho']
semestre = [print(mes+' é o mês do seu aniversário!') if mes == 'abril' else print(mes) for mes in meses]

janeiro
fevereiro
março
abril é o mês do seu aniversário!
maio
junho

## Dicionário

In [ ]:
preco_frutas = {'pera':'Estava mais cara que o normal...', #Inicializando o dicionário somente com strings
                'uva': 'Estava bem conta!',
                'maçã': 'Não tinha...!'}
numero_frutas = {1: 1, 2:1, 3:0} #Somente com inteiros
frutas = {'pera': 50, 'uva': 2, 'maçã':55, 'abacaxi': 25, 'manga':''} #Misturando os dois tipos
print(preco_frutas)
print(numero_frutas)
print(frutas)

In [ ]:
frutas = {'pera': 50, 'uva': 2, 'maçã':55, 'abacaxi': 25}
print(frutas['pera'])
print(frutas['uva'])
qtd_macas = frutas.get('maçã')
print('O Total de maçãs é: ',qtd_macas)
print('O Total de maçãs é: ',frutas.get('maçã'))

In [ ]:
frutas['laranja'] = 0
frutas['abacate'] = 33
frutas['abacate'] = 'Comprar dois...' 
frutas

In [ ]:
print(frutas)
del frutas['abacate']
print(frutas)
teste = {'um':1}
print(teste)
del teste
print(teste)

In [ ]:
cesta_frutas = {'pera':10, 'uva':2, 'maça':55, 'abacaxi':25, 'laranja':15}
print(cesta_frutas)
cesta_frutas.clear()
print(cesta_frutas)
cesta_frutas = {}

In [ ]:
print(preco_frutas)
preco_frutas.popitem()
print(preco_frutas)

In [ ]:
cesta_frutas = {'pera':10, 'uva':2, 'maça':55, 'abacaxi':25, 'laranja':15}
#print(cesta_frutas)
print(cesta_frutas.items())

dict_items([('pera', 10), ('uva', 2), ('maça', 55), ('abacaxi', 25), ('laranja', 15)])

In [ ]:
for fruta, qtd in cesta_frutas.items():
  print(fruta +": "+str(qtd))

pera: 10
uva: 2
maça: 55
abacaxi: 25
laranja: 15

In [ ]:
print(cesta_frutas.keys())

In [ ]:
for fruta in cesta_frutas.keys():
  print(fruta)

pera
uva
maça
abacaxi
laranja

In [ ]:
print(cesta_frutas.values())
for fruta in cesta_frutas.values():
  print(fruta)

In [ ]:
sorted(cesta_frutas.keys())
for fruta in sorted(cesta_frutas.keys()):
  print(fruta)

In [ ]:
for i, fruta in enumerate(cesta_frutas):
  print(i, fruta)

In [ ]:
print(len(cesta_frutas))

In [ ]:
compras = []
frutas = {
            'pera': 50, 
            'uva': 2, 
            'maçã':55, 
            'abacaxi': 25
            }
compras.append(frutas)
legumes = {
            'cenoura': 3,
            'tomate': 5,
            'alface': 2
            }
compras.append(legumes)

for compra in compras:
    for k, v in compra.items():
        print(k +": " +str(v))

In [ ]:
compras = [
            {
            'pera': 50, 
            'uva': 2, 
            'maçã':55, 
            'abacaxi': 25
            },
            {
            'cenoura': 3,
            'tomate': 5,
            'alface': 2
            },]

for compra in compras:
    for k, v in compra.items():
        print(k +": " +str(v))

In [ ]:
frutas = {
            'pera': [50, 10, 20],
            'uva':  [2, 1], 
            'maçã': [55, 10, 15],
            'abacaxi': [25, 8],
            }

for fruta, qtds in frutas.items():
  print(fruta +": ")
  for qtd in qtds:
    print("= " + str(qtd))

In [ ]:
compras = {
            'frutas_joao': {
            'pera': 50, 
            'uva': 2, 
            'maçã':55, 
            'abacaxi': 25,
            },
           'frutas_maria': {
            'pera': 40, 
            'uva': 3, 
            'maçã':35, 
            'abacaxi': 15,
            },}
for tipo, tipo2 in compras.items():
    print('\nTipo do item: '+ tipo)
    tudo_qtd = 'pera: '+str(tipo2['pera']) + " "
    tudo_qtd += 'uva: '+str(tipo2['uva']) + " "
    tudo_qtd += 'maçã: '+str(tipo2['maçã']) + " "
    tudo_qtd += 'abacaxi: '+str(tipo2['abacaxi'])
    
    print('Quantidade de itens comprados: '+tudo_qtd.title())